In [2]:
import requests
import pandas as pd
from tinydb import TinyDB, Query
import json
import urllib.request

In [3]:
cityids = pd.read_csv('cityids.csv', delimiter=';')

In [4]:
cityids

          Country            City  CityId
0     Afghanistan           Herat    1183
1     Afghanistan           Kabul     219
2         Algeria         Algiers     242
3         Algeria          Annaba    1434
4         Algeria          Bechar    1435
...           ...             ...     ...
3455     Zimbabwe    Mount Darwin     956
3456     Zimbabwe          Mutare     954
3457     Zimbabwe        Plumtree     960
3458     Zimbabwe          Rusape     959
3459     Zimbabwe  Victoria Falls     962

[3460 rows x 3 columns]

In [5]:
db = TinyDB('db.json')

In [6]:
def cityweather(cityid):
    url = "https://worldweather.wmo.int/en/json/" + str(cityid) + "_en.json"
    with urllib.request.urlopen(url) as url2:
            data=json.load(url2)
            db.insert(data)

In [8]:
cityids['CityId'][3000:].map(lambda a: cityweather(a))

3000    None
3001    None
3002    None
3003    None
3004    None
        ...
3455    None
3456    None
3457    None
3458    None
3459    None
Name: CityId, Length: 460, dtype: object