In [115]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn
from shapely.geometry import Point

In [116]:
df = pd.read_csv('weather.csv')

In [117]:
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [118]:
df.head()

,0,City,Country,Latitude,Longitude,MaxTemp1,MaxTemp2,MaxTemp3,MaxTemp4,MaxTemp5,...,Rainfall3,Rainfall4,Rainfall5,Rainfall6,Rainfall7,Rainfall8,Rainfall9,Rainfall10,Rainfall11,Rainfall12
1,1,Kabul,Afghanistan,34.55,69.22,4.5,5.5,12.5,19.2,24.4,...,67.9,71.9,23.4,1.0,6.2,1.6,1.7,3.7,18.6,21.6
2,2,Algiers,Algeria,36.7,3.22,16.7,17.4,19.2,20.9,23.9,...,55.0,58.4,41.9,8.5,4.5,8.2,28.3,58.8,89.6,91.0
3,3,Annaba,Algeria,36.9,7.76,16.3,16.8,18.6,20.5,23.7,...,61.2,64.1,38.3,14.0,3.1,8.2,37.5,64.8,98.4,110.8
4,4,Bechar,Algeria,31.61,-2.22,15.9,18.8,22.4,26.2,30.6,...,8.8,7.5,5.3,5.0,0.7,2.0,7.4,10.6,13.6,8.2
5,5,Biskra,Algeria,34.86,5.73,16.7,19.1,22.6,26.1,31.3,...,13.6,13.1,11.1,5.1,1.7,5.7,10.4,11.3,20.1,9.1

In [119]:
df = df.set_index(0)

In [120]:
df.dropna(subset=['MaxTemp1'], inplace=True)

In [125]:
gdf = gpd.GeoDataFrame(
    df, geometry=gpd.points_from_xy(df.Longitude, df.Latitude), crs="EPSG:4326"
)

In [126]:
gdf.head()

,City,Country,Latitude,Longitude,MaxTemp1,MaxTemp2,MaxTemp3,MaxTemp4,MaxTemp5,MaxTemp6,...,Rainfall4,Rainfall5,Rainfall6,Rainfall7,Rainfall8,Rainfall9,Rainfall10,Rainfall11,Rainfall12,geometry
0,,,,,,,,,,,,,,,,,,,,,
1,Kabul,Afghanistan,34.55,69.22,4.5,5.5,12.5,19.2,24.4,30.2,...,71.9,23.4,1.0,6.2,1.6,1.7,3.7,18.6,21.6,POINT (69.22000 34.55000)
2,Algiers,Algeria,36.7,3.22,16.7,17.4,19.2,20.9,23.9,28.2,...,58.4,41.9,8.5,4.5,8.2,28.3,58.8,89.6,91.0,POINT (3.22000 36.70000)
3,Annaba,Algeria,36.9,7.76,16.3,16.8,18.6,20.5,23.7,27.5,...,64.1,38.3,14.0,3.1,8.2,37.5,64.8,98.4,110.8,POINT (7.76000 36.90000)
4,Bechar,Algeria,31.61,-2.22,15.9,18.8,22.4,26.2,30.6,36.5,...,7.5,5.3,5.0,0.7,2.0,7.4,10.6,13.6,8.2,POINT (-2.22000 31.61000)
5,Biskra,Algeria,34.86,5.73,16.7,19.1,22.6,26.1,31.3,37.0,...,13.1,11.1,5.1,1.7,5.7,10.4,11.3,20.1,9.1,POINT (5.73000 34.86000)